<div class="w-full flex flex-col items-center justify-center my-4 ">
  <%= form_with model: @mission,
      html: { class: "w-2/5 flex flex-col items-center" } do |f| %>

    <div class="w-full flex flex-col bg-missionbg px-8 py-4 rounded-3xl mb-6 gap-y-4">
      <% if @mission.errors.any? %>
        <div id="error_explanation">
          <h3><%= t("errors.messages.not_saved", count: @mission.errors.count, entity: t("missions.singular")) %></h3>
          <ul>
            <% @mission.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <%end%>

      <div class="field">
        <%= f.label :name, t("missions.name") ,class:"form_title"  %>
        <%= render_error(f, :name) do %>
          <%= f.text_field :name , class: "rounded-md outline-2 outline-accent/75 p-1 text-accent"%>
        <%end%>
      </div>

      <div class = "field">
        <%= f.label :description, t("missions.description") ,class:"form_title" %>
        <%= render_error(f, :description) do %>
          <%= f.text_area :description, class: "rounded-md outline-2 outline-accent/75 p-1 text-accent" %>
        <%end%>
      </div>

      <div class = "field">
        <%= f.label :end_date, t("missions.end_date"),class:"form_title"  %>
        <div class="rounded-md outline-2 outline-accent/75 p-1 text-accent w-fit">
          <%= render_error(f, :end_date) do %>
            <%= f.datetime_field :end_date %>
          <%end%>
        </div>
      </div>

      <div class = "field">
        <%= f.label :state, t("missions.state") ,class:"form_title" %>
        <div class="rounded-md outline-2 outline-accent/75 p-1 text-accent w-fit">
          <%= render_error(f, :state) do %>
            <%= f.select :state, Mission.states.keys.map { |state| [t("activerecord.attributes.mission.states.#{state}"), state] } %>
          <%end%>
        </div>
      </div>

      <div class = "field">
        <%= f.label :priority, t("missions.priority"), class:"form_title" %>
        <div class="rounded-md outline-2 outline-accent/75 p-1 text-accent w-fit">
          <%= render_error(f, :priority) do %>
            <%= f.select :priority, Mission.priorities.keys.map { |priority| [t("activerecord.attributes.mission.priorities.#{priority}"), priority] } %>
          <%end%>
        </div>
      </div>

      <%= f.label :tags, "標籤", class: "form_title" %>
      
      <% @mission.taggings.each do |tagging| %>
        <%= f.fields_for :taggings, tagging do |tagging_fields| %>
          <div class="flex flex-row gap-2 mb-2 items-center">
            <%= tagging_fields.hidden_field :id %>
            <span class="bg-bgcolor text-finished text-base px-2.5 py-0.5 rounded-lg">
              <%= tagging.tag.name %>
            </span>
            <label class="text-base">
              <%= tagging_fields.check_box :_destroy %>
              刪除
            </label>
          </div>
        <% end %>
      <% end %>

      <%= f.fields_for :taggings, @mission.taggings.build do |tagging_fields| %>
        <div class="flex flex-row gap-2 items-center">
          <%= f.text_field :tag_name, 
            placeholder: "新增標籤",
            class: "rounded-md outline-2 outline-accent/75 p-1 text-accent" %>
        </div>
      <% end %>
    </div>

    <%= f.submit submit_text, class: "flex items-center text-xl button w-fit"%>
  <% end %>
</div>
