<h1> <%= t("missions.edit.title")+@mission.name %></h1>

<%= form_with model: @mission do |f| %>
  <div class="field">
    <%= f.label :name, t("missions.name") %>
    <%= f.text_field :name %>
  </div>

  <div class = "field">
    <%= f.label :description, t("missions.description") %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit t("missions.edit.btn") %>
  </div>
<% end %>

