<h1> <%= t("missions.edit.title")+@mission.name %></h1>

<%= form_with model: @mission do |f| %>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h3><%= t("errors.messages.not_saved", count: @mission.errors.count, entity: t("missions.singular")) %></h3>
      <ul>
        <% @mission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <%end%>

  <div class="field">
    <%= f.label :name, t("missions.name") %>
    <%= render_error(f, :name) do %>
      <%= f.text_field :name %>
    <%end%>
  </div>

  <div class = "field">
    <%= f.label :description, t("missions.description")%>
    <%= render_error(f, :description) do %>
      <%= f.text_area :description %>
    <%end%>
  </div>

  <div class = "field">
    <%= f.label :end_date, t("missions.end_date") %>
    <%= render_error(f, :end_date) do %>
      <%= f.datetime_field :end_date %>
    <%end%>
  </div>

  <div class="actions">
    <%= f.submit t("missions.edit.btn") %>
  </div>
<% end %>

