<h1><%= t("missions.index.title") %></h1>

<%= form_with url: missions_path, method: :get, local: true do %>
  <%= select_tag :sort, options_for_select([["依 ID 排序", "id"], ["依建立時間排序", "created_at"], ["依到期時間排序","end_date"]], params[:sort]) %>
  <%= submit_tag t("missions.index.sort_btn") %>
<% end %>

<ul id="missions-list">
    
  <% @missions.each do |mission|%>
    <li><%= link_to mission.name ,mission_path(mission) %></li>
  <%end%>

  <%= button_to t("missions.create.btn"), new_mission_path, method: :get %>

</ul>