<h1> New Mission </h1>

<%= form_with model: @mission do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class = "field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "Create a mission"%>
  </div>
<% end %>

